h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 12px;
}

.jumbotron {
  background-color: pink;
  height: 200px;
}

#result {
  display: none;
}

.col-md-4 {
  float: left;
}

.col-md-8 {
  float: right;
  background-image: url("../images/sponge.png");
  background-repeat: no-repeat;
}

.text {
  color: navy;
}

h2 {
  color: orange;
}
