h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 12px;
}

h1:hover {
  color: orange;
  text-decoration-color: pink;
}

.jumbotron {
  background-color: pink;
  height: 200px;
}

#result {
  display: none;
}

.bee {
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.hive {
  float: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  color: navy;
}

h2 {
  color: navy;
}

body {
  background-color: beige;
  background-size: cover;
  height: 1000px;
}

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.element {
  .clearfix();
}
