h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 12px;
}

.jumbotron {
  background-color: pink;
  height: 200px;
}

#result {
  display: none;
}

.col-md-4 {
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
  background-color: skyblue;
}

.col-md-8 {
  float: right;
  background-color: lightgreen;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}

.text {
  color: navy;
}

h2 {
  color: navy;
}

body {
  background-color: beige;
  background-size: cover;
  height: 1000px;
}
